* {
    margin: 0px;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
    
}

body {
    background-color: #4B92DB; /* United Nations blue is a very good blue */
}

header {
    padding: 40px;
    margin: 0px;
}

header h1 {
    font-size: 40px;
}

#content {
    background-color: #EEEEEE;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
}

#contact {
    text-align: center;
    padding-bottom: 30px;
}

#contact li {
    display: inline;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#contact li a {
    font-size: 30px;
    color: #333333;
}

#contact li a:hover {
    color: #005682;
    transition: 0.25s color;
}

a {
    text-decoration: none;
    color: #005682; /* this is also a nice blue */
}

#content img {
    float: left;
    display: block;
    margin-right: 40px;
    margin-bottom: 10px;
    border: 1px solid gray;
    height: 200px;
    width: auto;
}

footer {
    padding: 5px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}